{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

<section class="mt-24 m-4">
    <h1 class="text-center mb-2 text-2xl font-bold text-gray-900"><span class="text-sky-400">Initiation</span> au Code Web: Apprenez HTML, CSS et JS en toute simplicité!</h1>
        <div>
            Bienvenue sur notre site d'initiation au code du développement web!
            Nous sommes là pour vous aider à apprendre les langages HTML, CSS et JS de manière simple, accessible et stimulante. Notre site est entièrement gratuit, car nous croyons en l'importance de l'auto-formation et de l'accès aux ressources. Venez découvrir nos exercices intuitifs et engageants qui vous permettront de développer vos compétences et de vous épanouir en tant que développeur web. 
            Commencez dès maintenant votre parcours d'apprentissage passionnant!
            Notre objectif est de vous offrir une expérience immersive dès le début, en évitant les longs cours incompréhensibles. 
            Vous saurez immédiatement si le code vous intéresse ou non. 
            De plus, notre site est actuellement gratuit, car nous croyons fermement en l'auto-formation et à l'accès facilité aux ressources, un enjeu qui nous tient particulièrement à cœur.
        </div>
</section>

<section class="mt-4 mb-4 bg-gray-800 flex items-center">
<img src="{{asset('assets/images/laptop-about.jpg')}}" alt="computer-programming" class="max-w-sm bg-white">
<div class="mb-3 m-4 font-normal text-gray-400">
    
    <h2 class="mb-2 text-2xl text-white text-center">Une approche centrée sur <span class="text-sky-400">vous</span></h2>
            Notre priorité est de vous offrir une expérience d'apprentissage agréable et stimulante.<br>
            C'est pourquoi nous avons développé des exercices intuitifs et accessibles, conçus pour vous faire réfléchir activement.<br>
            Nous voulons que vous vous sentiez engagé et motivé tout au long de votre parcours d'apprentissage. 
            Ainsi, vous progresserez à votre rythme, en développant vos compétences de manière solide et durable.
        </div>
</section>

<section class="m-4">
<h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">Accès <span class="text-sky-400">gratuit</span> pour tous</h3>
    <div>
        Nous sommes convaincus que l'auto-formation est essentielle pour former de nouveaux développeurs. 
        C'est pourquoi notre site est actuellement gratuit. 
        Nous voulons encourager chacun, quel que soit son niveau ou ses ressources financières, à se lancer dans le monde passionnant du développement web. 
        Vous trouverez sur notre site une mine d'informations précieuses et des exercices pratiques qui vous aideront à maîtriser les langages HTML, CSS et JS.
    </div>
</section>

<section class="mt-4 mb-4 bg-gray-800 flex items-center">
    <div class="mb-3 m-4 font-normal text-gray-400">
            <h4 class="mb-2 text-2xl text-white text-center">Des exercices <span class="text-sky-400">stimulants</span></h4>
            Lorsque vous vous attaquerez à nos exercices, vous constaterez que nous avons à cœur de vous proposer des défis intéressants. 
            Nous croyons fermement que l'apprentissage est plus efficace lorsque vous êtes activement impliqué et que vous résolvez des problèmes concrets.
            Vous ne vous retrouverez jamais dans une impasse, nous vous fournirons des indices et des conseils pour vous guider tout au long du processus. 
            Nous voulons que vous réussissiez et que vous développiez une véritable compréhension du code.
    </div>
    <img src="{{asset('assets/images/laptop-about.jpg')}}" alt="computer-programming" class="max-w-sm bg-white">
</section>

<section class="m-4">
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">Le <span class="text-sky-400">développeur</span> derrière ce site</h5>
    <div>
        Je suis Yanis OURIR, développeur junior chez Garage404 et passionné du numérique. Ancien rédacteur et étudiant en communication, j'ai découvert ma passion pour le développement web et j'ai décidé de créer ce site d'initiation au code. 
        Mon objectif est de fournir une expérience d'apprentissage accessible et engageante pour les utilisateurs, en combinant mes compétences en développement et en communication. 
        À travers ce site, je souhaite partager mes connaissances et aider les visiteurs à découvrir les langages du web.
    </div>
</section>
{% endblock %}
