{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<section class="mt-24 flex items-center justify-center">
  <div class="px-6 py-8 mx-auto lg:py-0">
      <a href="{{path('app_home')}}" class="flex items-center justify-center mb-6 text-2xl font-semibold text-gray-900 mt-4">
          <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
          Start404    
      </a> 
      <div class="login-form m-4 rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold text-white md:text-2xl">
                  Inscription
              </h1>
              {{form(form)}}
          </div>
      </div>
  </div>
</section>
{% endblock %}
