{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


<h1 class="mt-24 text-center text-2xl">Inscription</h1>
<section class="m-8 flex justify-center">

    <div class="w-96 mb-6 bg-gray-900 p-4 rounded-lg">
    {{form(form)}}
    </div>
</section>
{% endblock %}
