{% extends 'base.html.twig' %}

{% block title %}Ginit404 - Accueil
{% endblock %}

{% block body %}
	<section class="flex items-center justify-between">
		<div class="hero-banner m-4" id="hero-banner">
			<h1 class="text-5xl m-4">L'initiation intuitive au <span class="text-sky-400">code</span> !</h1>
			<p class="text-2xl m-4">Découvrez si le code est fait pour vous, avec nos exercices visuelles et très accessible !</p>
			<p class="text-lg m-4">De plus, tout cela est totalement GRATUIT !</p>
			<div class="m-4">
				<button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white text-white focus:ring-4 focus:outline-none focus:ring-cyan-800">
					<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 rounded-md group-hover:bg-opacity-0">
						En savoir plus
					</span>
				</button>
				<button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white text-white focus:ring-4 focus:outline-none focus:ring-cyan-800">
					<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 rounded-md group-hover:bg-opacity-0">
						Me contacter
					</span>
				</button>
			</div>
		</div>
		<div class="container-image-hero-banner" id="container-image-hero-banner">
			<img src="{{asset('assets/images/laptop-2620118_1280.jpg')}}" class="image-hero-banner">
		</div>
	</section>

	<section class="objectives bg-gray-100 flex justify-center">
		<div>
			<h2 class="text-3xl font-bold text-center m-4"><span class="text-sky-400">Objectifs</span> de Start404 :</h2>
			<p>Start404 propose de nombreux exercices de programmation, surtout orienté web !</p>
			<p>Des exercices sur ces 3 langages principaux</p>
			<div class="language-logo flex justify-center m-4">
			
					<img src="{{asset('assets/images/HTML5_logo_and_wordmark.png')}}" alt="html-logo" class="html-logo">
					<img src="{{asset('assets/images/CSS3_logo_and_wordmark.png')}}" alt="css-logo" class="css-logo">
					<img src="{{asset('assets/images/JavaScript2-logo.png')}}" alt="js-logo" class="js-logo">
			</div>
				<p>L'objectif de Start404 est de lancer dans vos premières lignes de codes sans prérequis nécessaires</p>
				<p>Ici, pas de cours complets, cela  peut-être bien trop complexe pour les débutants, souvent nous voulons voir ce que donne le code avant de réellement s'y intéresser</p>
				<p>Nous n'avons pas tous le temps de s'investir dans une nouvelle discipline lorsque l'on est occupé à coté !</p>
			
			<ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
				<li class="flex items-center">
					<svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
					</svg>
					Lancer vous dans vos premières lignes de codes sans prérequis nécessaires 
				</li>
				<li class="flex items-center">
					<svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
					</svg>
					Coder facilement et laisser vous emportez par nos exercices sur-mesure
				</li>
				<li class="flex items-center">
					<svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
					</svg>
					At least one special character, e.g., ! @ # ?
				</li>
			</ul>
		</div>
	</section>

	<section>
		{# Réflexion sur une dernière section a implémenter#}
	</section>
{% endblock %}
