{% extends 'base.html.twig' %}

{% block title %}Start404 - Exercices{% endblock %}

{% block body %}

<section class="language-introduction mt-16">
        <a href="https://developer.mozilla.org/fr/docs/Web/HTML" class="flex items-center shadow flex-row max-w-xl hover:bg-gray-100 border-gray-700 bg-gray-800 hover:bg-gray-700" target="_blank">
            <img class="max-w-sm rounded-lg shadow-md bg-gray-800 border-gray-700 p-4"  src="{{asset('assets/images/HTML-white-logo.png')}}" alt="HTML-logo">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">HTML un langage de <span class="text-sky-400">balisage</span></h5>
                    <p class="mb-3 font-normal text-gray-400">Très simple à prendre en main et à mettre en place, le langage HTML gère le texte de votre site. (Titre, liens, articles, paragraphes...)</p>
                </div>
        </a>
</section>

<section class="html-exercices">
    <h1 class="text-3xl font-bold text-center m-4">Nos exercices<span class="text-sky-400"> HTML</span></h1>
    
    

<div class="mb-5">
    <table class="w-full text-sm text-left text-gray-400 bg-gray-900">
        <thead class="text-xs uppercase text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Exercices
                </th>
                <th scope="col" class="px-6 py-3">
                    Objectifs
                </th>
                <th scope="col" class="px-6 py-3">
                    Difficulté
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    HTML - Exercice 1
                </th>
                <td class="px-6 py-4">
                    Rédiger un paragraphe
                </td>
                <td class="px-6 py-4">
                    Facile
                </td>
                <td class="px-6 py-4">
                    Supprimer/Ajouter
                </td>
            </tr>
        </tbody>
    </table>
</div>



</section>

{% endblock %}