{% extends 'base.html.twig' %}

{% block title %}Start404 - Exercices{% endblock %}

{% block body %}
        <section class="language-introduction mt-16">
        <a href="https://developer.mozilla.org/fr/docs/Web/HTML" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" target="_blank">
            <img class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 p-4"  src="{{asset('assets/images/JavaScript-white-logo.png')}}" alt="CSS-logo">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JavaScript un langage de programmation de <span class="text-sky-400">scripts</span></h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Le JavaScript, est le seul de nos 3 langages qui est un vrai langage de programmation.<br>
                    Un peu plus difficile a prendre en main que le CSS et L'HTML.<br>
                    De plus, avec  le JS il est possible d'interagir sur l'HTML tout comme sur le CSS.</br> 
                    Ne vous en faites pas, il reste tout de même accessible et très compréhensible 
                    lorsque l'on souhaite juste ajouter des éléments interactifs à notre page web.</p>
                    
                    </p>
                </div>
        </a>
</section>

<section class="html-exercices">
    <h1 class="text-3xl font-bold text-center m-4">Nos exercices<span class="text-sky-400"> JS</span></h1>
    
    

<div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 dark:bg-gray-900">
        <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Exercices
                </th>
                <th scope="col" class="px-6 py-3">
                    Objectifs
                </th>
                <th scope="col" class="px-6 py-3">
                    Difficulté
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    JS - Exercice 1
                </th>
                <td class="px-6 py-4">
                    Changer le style d'un élément HTML
                </td>
                <td class="px-6 py-4">
                    Facile
                </td>
                <td class="px-6 py-4">
                    Supprimer/Ajouter
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    JS - Exercice 2
                </th>
                <td class="px-6 py-4">
                    Afficher une alerte
                </td>
                <td class="px-6 py-4">
                    Facile
                </td>
                <td class="px-6 py-4">
                    Supprimer/Ajouter
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    JS - Exercice 3
                </th>
                <td class="px-6 py-4">
                    Créer votre premier écouteur d'événement
                </td>
                <td class="px-6 py-4">
                    Facile
                </td>
                <td class="px-6 py-4">
                    Supprimer/Ajouter
                </td>
            </tr>
        </tbody>
    </table>
</div>



</section>
{% endblock %}