{% extends 'base.html.twig' %}

{% block title %}Start404 - HTML
{% endblock %}

{% block body %}

<p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="ExOEGNy" data-editable="true" data-user="YanisG404" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/YanisG404/pen/ExOEGNy">
  Untitled</a> by OURIR Yanis (<a href="https://codepen.io/YanisG404">@YanisG404</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

{% endblock %}
