{% extends 'base.html.twig' %}

{% block title %}Start404 - CSS{% endblock %}

{% block body %}

<section class="mt-24">
<iframe height="600" style="width: 100%;" scrolling="no" title="Untitled" src="{{exercice.codepenexercice}}" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
	See the Pen
	<a href="{{exercice.codepenlink}}">
		Untitled</a>
	by OURIR Yanis (<a href="https://codepen.io/YanisG404">@YanisG404</a>)
		  on
	<a href="https://codepen.io">CodePen</a>.
</iframe>

</section>



{% endblock %}

