{% extends 'base.html.twig' %}

{% block title %}Maj Profil - Start404{% endblock %}

{% block body %}

<section class="flex justify-center mt-24 bg-gray-800 p-4">
<div class="w-1/2 p-4">
{{form(form)}}
</div>
</section>

{% endblock %}