{% extends 'base.html.twig' %}

{% block title %}Hello ExericeManagerController!{% endblock %}

{% block body %}

<section class="mt-24">
<div class="w-64 items-center justify-center mt-4 mb-4 p-4 bg-gray-50 dark:bg-gray-900">
{{form(form)}}
</div>
</section>
{% endblock %}
