{% extends 'base.html.twig' %}

{% block title %}Hello ExericeManagerController!{% endblock %}

{% block body %}

<section class="mt-24">
<h1 class="text-3xl font-bold text-center m-4">Ajouter un <span class="text-sky-400">exercice</span></h1>
<div class="w-100 flex flex-col justify-center mt-4 mb-4 p-4 bg-gray-900">
{{form(form)}}
</div>
</section>
{% endblock %}
